# Gradle specific
.gradle/
build/

# Distribution folders
dist/
runtime/

# Compiled class files
*.class

# JAR and EXE files
*.jar
*.exe

# IDE-specific files (si usas VS Code o Eclipse)
.vscode/
*.iml
*.classpath
*.project
.settings/

# OS-specific files
.DS_Store
Thumbs.db
